* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
  margin-bottom: 50px;
}

main {
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  background-color: #EEEEEE;
}

.box1 {
margin-right: 15px;
}

.box2 {
  margin-left: 15px;
  margin-right: 15px;
}

.box3 {
  margin-left: 15px;
}

.image-box {
  width: 300px;
  height: 160px;
  background-position: center 10px;
  background-size: 280px 150px;
  background-repeat: no-repeat;
}

.image1 {
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png)
}

.image3 {
  background-image: url(img/flow03.png)
}

.step {
  color: white;
  background-color: #FF9A4B;
  width: 15%;
}

.content-box {
  padding-left: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  background-color: #AAAAAA;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .image-box {
    width: 100%;
    background-size: 90% 150px;
  }

  .step {
    width: 50px;
  }

  .content-box {
    width: 90%;
  }

  .box1 {
    margin-bottom: 20px;
  }

  .box2 {
    margin-bottom: 20px;
  }

}